
body {
	padding: 10px;
	margin: 10px;
	font-family: "Times New Roman", Times, serif;
}
/* element with id="nav*/
/*https://<github-username>.github.io/<pages-repo>/*/
#nav {
	background-color: DeepSkyBlue;
	padding: 10px;
}

.dropdown {
	position: realative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: gray;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16px;
	z-index: 1;
}

.dropdown:hover .dropdwon-content {
	display: block;
}